<!DOCTYPE html>
  <html>
<head>
  <title> friend profile</title>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
   <script src="/public/assets/sendreq.js" type="text/javascript"></script>
</head>
<body>
  <h1><%=data[0].firstname%> <%=data[0].lastname%></h1>


</body>

</html>
