<DOCTYPE html>
  <html>

  <head>
    <title> Home</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
     <script src="/public/assets/home.js" type="text/javascript"></script>
  </head>

  <body>
    <h1>Caption </h1>
    <input type ="text" name="caption" id="caption" placeholder="new item">
    <button type="button" id='btn' name='Submit'>Click me</button>
    <ul>
      <% for(var i=0;i<homedata.length;i++){%>
        <li><a href="#"><%=homedata[i].firstname %> <%=homedata[i].lastname %></a></li>
        <%}%>
    </ul>
  </body>
  </html>
