<!DOCTYPE html>
  <html>
<head>
  <title> Log In</title>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="/public/assets/login.js" type="text/javascript"> </script>

</head>

<div class="sign_in" name="sign_in" >
  <h2>Sign in </h2>
<form>
  <label> Email </label>
  <input type="text" name="name" id = "name">
     <span  id="email_status"></span>
  <br>
  <label> Password </label>
  <input type="password" name="password" id="password" >


  <br>
  <input id="submit" type="submit" value="submit">
  <br/>
</form>
</div>
</div>
