<!DOCTYPE html>
  <html>
<head>
  <title> Log In</title>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="/public/assets/login.js" type="text/javascript"> </script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../public/assets/css/login.css"/>

</head>
<body>
    <div class="container col-sm-12" id="mainform">
      <h1 class="col-sm-offset-5">
        Social Network
      </h1>
      <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Login</div>
          </div>
          <div class="panel-body">
            <div class="sign_in" name="sign_in" >
              <h2 class="col-md-offset-4">Welcome Back</h2>
              <form>
                <label> Email </label>
                <input type="text" name="name" id = "name" class ="form-control box" required placeholder="E-mail">
                <span  id="email_status"></span>
                <label> Password </label>
                <input type="password" name="password" id="password"class ="form-control" required placeholder="***********" >
                <input id="submit" type="submit" value="LogIn" class="btn btn-info form-control button" ><i class="icon-hand-right"></i></button>
                </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
