<!DOCTYPE html>
  <html>
<head>

  <title>search</title>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="/public/assets/searchresults.js" type="text/javascript"></script>
</head>
<body>
  <h1>Search Page</h1>
<form id='searchForm' >
  <input type="text" id="firstname" name="firstname" placeholder="firstname"><br>
   <input type="text" id="lastname" name="lastname" placeholder="lastname"><br>
   <input type="text" id="email" name="email" placeholder="Email"><br>
   <input type="text" id="hometown" name="hometown" placeholder="Hometown"><br>
   <input type="text" id="caption" name="caption" placeholder="Caption"><br>
   <input type="submit" id="submitSearchForm" name="submitSearchForm" value="search"><br>

</form>




</body>

</html>
