
body{
  background: url("green.jpg");
}
.panel{
  background: rgba(255,255,255,0.6);

}
.mybtn
{
  float:right;
  margin-bottom: 5px;
}
.panel-title,.mybtn
{
  display: inline-block;
}
.panel-title
{
  padding-bottom: 3px;
  font-size: 19px;
}
