.button{
    margin-top: 5px;
    margin-left: 95px;
}
.img-circle{
  margin-left: 120px;
  width: 140px;
}

.friendc
{
  /* padding-top: 40px; */
  padding-bottom: 10px;
  padding-top: 20px;
  padding-right: 22px;
  overflow: auto;
  background-color: rgba(68,157,72,0.66);
  width:500px;
  margin : auto auto;
  /* margin-top: 20px;
  border: 20px 20px;
  border-radius: 10px; */
  border-radius: 10px;
}
.friend
{
  margin-left: 20px;
}
.friendname
{
  margin-left: 80px;
  font-size: 25;
  text-align: left;
}
.reqhead{
  margin-left: 40px;
}
.button{
  border-radius: 7px;
  border: 7px 7px;
  font-size: 16;
  margin-bottom: 19px;
  margin-left: 83px;
}
