
form{
  border: 1px solid #87CEEB; ;
  padding: 20px 20px 20px 50px ;
  background-color:  	#f5f5f5;
  width: 40%;
  margin: 0 auto;
  border-radius: 7px;

}

.label2{
  margin-left: 120px;
}
.label

#label1{
  color: 	#FF1493;
}

/* #submitSearchForm{
 border: none;
 padding: 15px 32px;
 text-align: center;
 display: inline-block;
 margin-left:90%;

} */
h1{
color:#00BFFF;
}

#caption{
width: 95%;
height: 80px;
}
